/*
 * main.css - Main application styles
 *
 * Copyright 2013 - 2020 Felipe Peñailillo <breadmaker@ctmradio.org>
 *                       William Cabrera   <cabrerawilliam@gmail.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

html {
  background: #000;
  color: #fff;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#startup {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  background: #000;
}

#cover-wrapper {
  position: relative;
  height: 100vw;
}

#cover {
  width: 100%;
  height: 100vw;
  -webkit-background-size: cover;
  background-size: cover;
}

#license-display {
  position: absolute;
  bottom: 4px;
  left: 4px;
  font-size: 7vw;
  color: #fff;
  text-shadow: 0 0 10px #000;
  opacity: .9;
  -webkit-transition: left .3s ease;
  -o-transition: left .3s ease;
  transition: left .3s ease;
}

#license-display.hidden {
  left: -50vw;
}

#license-display i {
  margin-right: 4px;
}
